:root{ 
    --background: white;
    --border: grey;
    --muted: #6c757d;
    --focus: #3B1E1B;
    --subElement: #BA6056;
    --text: black;
    --border-size: 1px;
}

.Custom-row{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    text-align: center;
    background-color: var(--background);
    background-clip: border-box;
    border: var(--border-size) solid var(--border);
    border-radius: 0.25rem;
}

.Custom-column{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    border: var(--border-size) solid var(--border);
}

.tweetcard{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--background);
    background-clip: border-box;
    border: var(--border-size) solid var(--border);
    border-radius: 0.25rem;
}

.tweetcard:hover{
    background-color: salmon;
}

.Button:hover{
    color: var(--focus);
    border-color: var(--focus);
}

/* template */
.btn-group button {
    background-color: white;
    border: var(--border-size) solid var(--border) ;/* Green border */
    color: var(--muted); /* White text */
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: var(--subElement);
  }